{
  "presets": [
    ["@babel/preset-env", {
      "targets": ">0.5%, not dead, not op_mini all",
      "useBuiltIns": false
    }],
    "@babel/preset-react"
  ],
  "plugins": [
    ["@babel/plugin-proposal-class-properties", { "loose": true }],
    "@babel/plugin-proposal-optional-chaining",
    "@babel/plugin-proposal-nullish-coalescing-operator"
  ]
}
